/* ----------------- Reset all styles ----------------- */
*{
    margin:0;
    padding:0;
    border:0;
}

html{
    background-color: #66CCCC;
}

#homeCanvasContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width:1000px;
    height: 600px;
    margin-left: -500px;
    margin-top: -300px;
    background-color: #66DDDD;
}

#BCHWLinks{
    position:absolute;
    right:35px;
    bottom:20px;
    margin:0;
}

#BCHWSocialMediaLinks{
    display:inline-block;
}

#blogLink{
    text-decoration:none;
    margin-right:20px;
}

.blockImageLink{
    display:block;
    text-decoration:none;
}


/* ---------------------- RESPONSIVE ---------------------- */

@media only screen and (max-width: 1000px) {

    #homeCanvasContainer{
        margin:0;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left:0px;
        margin-top:0px;
    }

}